<div class="transparentbox">
  <h2>WELCOME TO OPEN TEE</h2>
  <h3>Please Log in or sign-up to search golf courses and schedule a tee time</h3>
  <a class="links" href="auth/login"><h3>LOGIN</h3></a>
  <a class="links" href="auth/signup"><h3>SIGN-UP</h3></a>
</div>
