<h2>PROFILE</h2>
<div>
  <h3>Welcome Back, <%= currentUser.firstname%>!</h3>
  <a href='/schedule'><button type="button" class="btn btn-default btn-lng">Schedule Tee Time</button></a>
  <a href='/active'><button type="button" class="btn btn-default">Current Bookings</button></a>
</div>
