body{
    font-family: 'Pontano Sans', sans-serif;
    font-weight: bold;
    color: #00000;
    background-image: url("http://globalmedicalco.com/photos/globalmedicalco/10/48622.jpg");
    /*background-image: url("http://www.zengolfmechanics.com/wp-content/uploads/2016/07/Golf.jpg");*/
    background-attachment: fixed;
    background-size: cover;
}
h2{
  color: white;
  font-family: 'Pontano Sans', sans-serif;
}
label{
  font-size: 20px;
  font-weight: bold;
  color: #00000;
}
li{
  list-style: none;
}
.container{
  font-size: 16px;
}
.navbar-brand{
  font-family: 'Pontano Sans', sans-serif;
}
.navbar-default{
  min-height: 200px;
}
.transparentbox{
  margin: 35px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  text-align: center;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.transparentbox2{
  margin: 35px;
  background-color: rgba(255, 255, 255, .8);
  border: 2px solid black;
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.links{
  color: #00000;
  font-weight: bold;
}
.text-center{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.col{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
.form-control{
  font-family: 'Pontano Sans', sans-serif;
  font-weight: bold;
  color: #00000;
}
/*.login{
  background-image: url("http://www.zengolfmechanics.com/wp-content/uploads/2016/07/Golf.jpg");
  background-attachment: fixed;
  background-size: cover;
}*/
.yelpImg{
  height: 400px;
  width: 400px;
  padding-bottom: 10px;
}
.logo{
  height: 80px;
  width: 80px;
}
footer {
    font-family: 'Pontano Sans', sans-serif;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: white;
    font-size: 17px;
}
