<form action="/event/active" method="post">
    <div class="transparentbox">
      <h2 class='text-center'>Search for Courses</h2>
      <div class="form-group">
        <label>Course:</label>
          <input type="text" name="course" class="form-control" placeholder="Search for Courses" required>
        </div>
        <input type="submit" value="Search" class="btn btn-success">
    </form>
    <hr>
    <h2 class = 'text-center'>Schedule a tee time</h2>
    <form action="/event/schedule" method="post">
      <div class="form-group">
        <label>Course:</label>
        <input type="text" name="course" class="form-control" placeholder="Course Name" required>
      </div>
      <div class="form-group">
        <label>Date:</label>
        <input type="date" name="date" class="form-control" required>
      </div>
      <div class="form-group">
        <label>Time:</label>
        <input type="time" name="time" class="form-control" required>
      </div>
      <input type="submit" value="Tee-Off" class="btn btn-success">
    </div>
</form>
